.footer{
  background-color: rgba(255, 192, 203, 0.68);
  font-family: 'Rancho';
  font-size: x-large;
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
